body {

    color: #1a9eeb;
    background-image: url("../static/images/stars.gif");
    background-repeat: repeat;
    background-color: black;
    font-family: "arial";
    font-size: 20px;
}

a{
    color:inherit;
}
a:hover{       
    color: aquamarine;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px;
}

.footer {
    width: 1000px;
    margin: 0 auto;
}
.main-header {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border: 3px solid aquamarine;
    border-radius: 10px;
    padding: 5px;
}


.header-buttons {
    font-family: "arial";
    text-align: center;
    width: 500px;
    margin: 10px auto;
    border: 3px solid aquamarine;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.header-button{
    background-color: aquamarine;
    width: 70px;
}
.main-body{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 

.main-text{
    font-size: 20px;
    text-align: center;
}

.inline-text{
    font-size: 20px;
    text-align: left;
}

.contact-list{
    font-size: 20px;
}
.pictures{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.construction{
    height: 200px;
    width: 200px;
    overflow-y: auto;
    word-wrap: break-word;
    border: 3px solid aquamarine;
    border-radius: 10px;
}