<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/styles.css">
    <title> Giuseppe's Website </title>
</head>

<body>
    <header>
        <h1 class="main-header"> Giuseppe's Website </h1>

        <div class ="header-buttons">
            <button id="home" class="header-button"> Home </button>
            <button id="cats" class="header-button"> Cats </button>

        </div>
    </header>



    <main class="main-body">
        <p class="main-text"> Here are some pictures of my two cats, Norman and Pete. </p>
        <div class="pictures">
            <figure>
                <img src="/static/images/norman.jpg" style="width: 200px; height: auto;" alt="Norman">
                <figcaption> Norman </figcaption>
            </figure>
            <figure>
                <img src ="/static/images/pete.jpg" style="width: 200px; height: auto;" alt="Pete">
                <figcaption> Pete </figcaption>
            </figure>
            <figure>
                <img src ="/static/images/normanandpete.jpg" style="width: 200px; height: auto;" alt="Norman and Pete">
                <figcaption> Norman and Pete </figcaption>
            </figure>
        </p>
        <p class="main-text"> </p>
    </main>

    <footer>
        <div class="footer">
            <ul>
                <li> <a href="https://www.linkedin.com/in/giuseppe-d-orazio/">LinkedIn</a> </li>
                <li> <a href="https://github.com/DistantNemesis">Github</a> </li>
            </ul>
        </div>
    </footer>
    <script src="/scripts/homepage.js" defer></script>
</body>
</html>