<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title> Giuseppe's Website </title>
</head>

<body>
    <header>
        <h1 class="main-header"> Giuseppe's Website </h1>

        <div class ="header-buttons">
            <button id="home" class="header-button"> Home </button>
            <button id="cats" class="header-button"> Cats </button>
            <button id="interests" class="header-button"> Interests</button>
        </div>
    </header>



    <main class="main-body">
        <div>
            <h2 style="text-align: center;">My Interests</h2>
            <h2> Video Games</h2>
            <p> I've liked video games a lot since my early childhood. Here are some of my favourites:</p>
            
        </div>
    </main>

    <footer>
        <div class="footer">
            <ul>
                <li> <a href="https://www.linkedin.com/in/giuseppe-d-orazio/">LinkedIn</a> </li>
                <li> <a href="https://github.com/DistantNemesis">Github</a> </li>
            </ul>
        </div>
    </footer>
    <script src="/scripts/homepage.js" defer></script>
</body>
</html>