<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles.css">
    <title> My Game Collection </title>
</head>

<body>
    <header>
        <h1 class="main-header"> Giuseppe's Website </h1>
    </header>

    <div class="main-body">
        <p class="main-text"> Welcome to my website </p>
        <p class="main-text"> <img src ="../static/images/Super-Mario-64-DS.avif" style="width: 200px; height: auto;" alt="Mario"> </p>
        <p class="main-text"> Hi Angela I love you so much</p>
    </div>
</body>
</html>